body {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  color: yellow;
  text-align: center;
  height: 100vh; /* Ensure full height background */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.input-group {
  justify-content: center;
}

#new-task {
  width: 70%;
  margin: 0 auto;
}

#add-task-btn {
  margin-left: 10px;
}
